@import "mixins";
@import "loading";

body {
  @include center-item;
  font-family: "Oswald", sans-serif;
}

.title {
  @include center-item;
  margin: 50px;
}

.tabs {
  @include center-item;
  margin: auto;
  -webkit-tap-highlight-color: gray;
  width: auto;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
}

.tab-link {
  margin: 0 0 10px;
  display: inline-block;
  border: 1px 0 solid #aaa;
  border-bottom: 1px solid black;
  border-radius: 5px 5px 0 0;
  bottom: -10px;
  position: relative;
  padding: 6px 12px;
  cursor: pointer;
}

.tab-link-active {
  background: #fff;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
}

.tab-link:hover{
  box-shadow: 0 0 5px rgb(114, 114, 114);
}

.tab-link:focus {
  box-shadow: 0 0 5px rgb(70, 70, 70);
  border-color: rgb(70, 70, 70);
  outline: none;
}

.tab-link:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.tab-content {
  border: 1px solid;
  padding: 15px;
  border-top: 1px solid transparent;
  border-radius: 0 0 5px 5px ;
}

.tab-content-visible {
  display: block;
}

.card {
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  width: 500px;
  height: 250px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 10px 15px 8px rgba(0, 0, 0, 0.2);
  position: fixed;

  .content {
    margin: 20px;
  }

  .content h2 {
    text-align: center;
  }
  img {
    position: absolute;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  .info {
    width: 350px;
    float: left;
    position: absolute;
    left: 150px;
    top: 80px;

    span {
      margin: 0 15px;
      font-size: 15px;
      font-weight: bold;
      color: rgb(85, 85, 85);
    }

    .data span + span {
      float: right;
    }
  }
}

.closeBtn {
  float: right;
  margin-top: -10px;
  margin-right: -10px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.95);
  border: 1px solid rgb(109, 109, 109);
  border-radius: 100%;
  background: rgb(85, 85, 85);
  font-size: 20px;
  line-height: 0px;
  padding: 9px 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.384);
  transition: all 0.3s ease;
}

.contactBtn{
  background-color: none;
  border: none;
  cursor: pointer;
  height: auto;
  text-align: center;
}

.contactBtn:hover{
  color: rgb(114,114,114);
}
.contactBtn:focus{
  outline:0;
}

.imgUser{
  width: 30px;
}