.tabs {
  @include center-item;
  margin: auto;
  width: auto;
  display: inline-block;
  margin-right: 30px;
  vertical-align: top;
  hr {
    border: none;
    height: 1px;
    color: rgba(128, 128, 128, 0.473);
    background-color: rgba(128, 128, 128, 0.473);
  }
}

.tab-link {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  border-radius: 5px 5px 0 0;
  position: relative;
  width: 45px;
  cursor: pointer;
  h2{
    float: left;
    margin:auto;
  }
  span {
    float: right;
    font-size: 8px;
    font-weight: lighter;
  }
}

.tab-link-active {
  background-color: whitesmoke;
  border-color: #aaa;
  border-radius: 5px 5px 0 0;
  outline: none;
  border-bottom: 1px solid transparent;
}

.tab-link:hover {
  background-color: whitesmoke;
}

.tab-link:focus {
  border-color: #aaa;
  outline: none;
  border-bottom: 1px solid transparent;
}

.tab-link:focus:after {
  position: absolute;
}

.tab-content {
  background-color: whitesmoke;
  margin-top: -1.5px;
  border: 1px solid;
  padding: 15px;
  border-radius: 0 0 5px 5px;
  border-color: #aaa;
}

.tab-content-visible {
  display: block;
  border-top: 1px solid transparent;
}

.contactBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: auto;
  text-align: center;
}

.contactBtn:hover {
  color: rgb(114, 114, 114);
}
.contactBtn:focus {
  outline: none;
}
